body {
  padding: 50px;
  font: 14px 'Roboto Mono', monospace;
  background-color: lightgray;
}

a {
  color: blue;
}

table {
  width: 100%;
  background-color: blanchedalmond;
  text-align: center;
  border-color: gray;
  border-style: outset;
}

th {
  background-color: blue;
  color: blanchedalmond;
  padding: 1vmin;
}

.late {
  color: red;
}